.paperCard {
    display: flex;
    background: #e1eff8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: scroll;
    transition: transform 0.2s ease;
    padding: 12px;
    margin-bottom: 16px;

    &:hover {
        transform: translateY(-4px);
    }
}

.imageBox {
    position: relative;
    width: auto;
    min-width: 120px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.placeholder {
    font-size: 12px;
    color: #888;
}

.impactBadge {
    background: #eaf3ff;
    color: #0052cc;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;

    strong {
        font-weight: 700;
    }
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        font-size: 16px;
        margin: 0 0 6px;
        font-weight: 600;
        color: #222;
    }

    hr {
        margin: 6px 0 10px;
        border: none;
        border-top: 1px solid #181717;
    }

    p {
        margin: 4px 0;
        font-size: 14px;
        color: #444;
    }
}

.label {
    font-weight: 600;
    color: #111;
}

.actions {
    margin-top: 12px;

    button {
        margin-right: 8px;
    }
}


.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  margin: 10px;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}

.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

.media {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #ddd;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  height: 14px;
  background-color: #e0e0e0;
  border-radius: 7px;
}
